.caseItem {
  width: 50%;
  padding: 54px 0;
}

.title {
  font-style: normal;
  font-weight: 900;
  font-size: 35px;
  line-height: 42px;
  letter-spacing: 2px;

  color: #363130;

  padding-bottom: 28px;
}

.subTitle {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;

  padding-bottom: 60px;
}

@media (max-width: 860px) {
  .caseItem {
    width: 100%;
  }
  .title, .subTitle {
    color: white;
  }
  .title {
    font-size: 25px;
  }
}
